<h2>{{ title }}</h2>
<!-- property binding updates in one direction: from the component to the DOM -->
<img [src]="imageUrl" alt="" />
<!-- Attribute binding: certain DOM html elementd dont have a 1 to 1 map of attributes so we must speicify the attribute we want to bind to throght attr -->
<table>
  <tr>
    <td [attr.colspan]="colSpan">Table data here</td>
  </tr>
</table>

<!-- Event binding: updates in one direction: from the DOM to the component ts file -->
<button
  class="btn btn-primary"
  [class.active]="isActive"
  [style.color]="isActive ? 'red' : 'purple'"
  (click)="onSave($event)"
>
  Click me
</button>

<!-- Two way binding: updates in both directions: from the component to the DOM and vice versa -->
<!-- ngModel is a directive that is part of the FormsModule module which needs to be imported for use in component -->

<input type="text" [(ngModel)]="email" (keydown.enter)="onKeyDown()" />
